* {
	padding: 10px;
	margin: 10px;
}

p {
	padding: 2px;
	margin: 2px;

}

div {
    
	text-shadow: 0px 0px #ff0000;
    text-align: left;
}
h2 {
    text-align: left;
}

.box{
    
    
    background-color: #eccccc;
    border-radius: 10px;
    text-align: center;
}



.boxChild{
    
    
    background-color: #fdf7f7;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.boxWhite{
    background-color: #d0d3da;
}
.boxGreen{
    background-color: #26c26c;
}
.boxRed{
    background-color: #e61818;
}


.container-flex-row {
    display: flex;
	flex-flow: row wrap;
	margin: 10px;
	text-align: center;
    min-width: 290px;
}